Flask==2.3.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Flask-Migrate==4.0.4
Flask-Mail==0.9.1
email-validator==2.0.0
python-dotenv==1.0.0
Werkzeug==2.3.7
SQLAlchemy==2.0.20
WTForms==3.0.1
Bcrypt==4.0.1
Flask-Bcrypt==1.0.1
pytz==2023.3
Markdown==3.4.4
bleach==6.0.0
